.menuToggle {
    cursor: pointer;
    position: fixed;
    top: 18px;
    left: 30px;
    color: #fff;
    font-size: 29px;
    z-index: 100;
    transition: all 0.28s ease-in;
}

.menuToggle:hover {
    opacity: 0.6;
}

.menuToggle.open {
    left: 310px;
}
